@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  
  font-family: "Bebas Neue", sans-serif;
}

html, body {
  height: 100vh;
  overflow: auto; 
}

body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.navbar {
  background-color: rgb(0, 0, 0);
}
.overlay  {
  background-color: rgba(0, 0, 0, 0.637);
  height: 110vh;
  
    
  
}
.footer {
  background-color: rgb(31, 30, 30);
  
}

/* LIST */
.overlay ul {
  padding-left: 0px;
  list-style: none;
  height: inherit;
  
}


/* FORM */
input {
  position: absolute;
  display: none;
}

.yearContent{
  height: 100vh;
 
  padding-top: 40px;
  
}


label {
  display: block;
  float: left;
  height: 100vh;
  width: 40px;
  overflow: hidden;
  background: #470b099a;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  transition: background 300ms ease;
  z-index: -1;
}


li:nth-child(even) > input + label {
  background: #7c6c1293;
}
label:hover,
li:nth-child(even) > input + label:hover {
  color: rgba(44, 44, 44, 0.404);
  cursor: pointer;
}
input[type="radio"]:checked ~ label {
  color: #fff;
  cursor: default !important;
  padding-top: 30px;
}

h1 {
  margin-top: 10px;
  text-decoration-line: underline;

  text-decoration-color: rgba(173, 149, 8, 0.795);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* SLIDES */
.accslide {
  display: block;
  height: 100vh;
  
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow-x: hidden;
  
  line-height: 1.5;
  transition: all 700ms ease;
}
.accslide * {
  padding-left: 0px;
  
}

input[type="radio"]:not(:checked) ~ label > * {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  white-space: nowrap;
  transform: rotate(90deg);
}
input[type="radio"]:checked ~ label > * {
  transform: rotate(90deg);
}
li:nth-child(1):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 80px);
}
li:nth-child(2):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 80px);
}
li:nth-child(1):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}
li:nth-child(2):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}
li:nth-child(3):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 120px);
}
li:nth-child(1):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}
li:nth-child(2):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}
li:nth-child(3):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}
li:nth-child(4):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 160px);
}
li:nth-child(1):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}


li:nth-child(1):nth-last-child(5) input[type="radio"]:checked ~ .accslide p {
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
}
.anim
{
    -webkit-animation: bounceInUp 2s;
  animation: bounceInUp 2s;
}

li:nth-child(2):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(2):nth-last-child(4) input[type="radio"]:checked ~ .accslide p  {
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
}


li:nth-child(2):nth-last-child(4) input[type="radio"]:checked ~ .accslide  {
  -webkit-animation: bounceInUp 2s;
  animation: bounceInUp 2s;
}

li:nth-child(3):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(3):nth-last-child(3) input[type="radio"]:checked ~ .accslide p {
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
}

li:nth-child(3):nth-last-child(3) input[type="radio"]:checked ~ .accslide  {
  -webkit-animation: bounceInUp 2s;
  animation: bounceInUp 2s;
}

li:nth-child(4):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}



li:nth-child(4):nth-last-child(2) input[type="radio"]:checked ~ .accslide p {
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
}
li:nth-child(4):nth-last-child(2) input[type="radio"]:checked ~ .accslide  {
  -webkit-animation: bounceInUp 2s;
  animation: bounceInUp 2s;
}

li:nth-child(5):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 200px);
}

li:nth-child(5):nth-last-child(1) input[type="radio"]:checked ~ .accslide p {
  -webkit-animation: bounceInDown 2s;
  animation: bounceInDown 2s;
}
li:nth-child(5):nth-last-child(1) input[type="radio"]:checked ~ .accslide  {
  -webkit-animation: bounceInUp 2s;
  animation: bounceInUp 2s;
}

li:nth-child(1):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(2):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(3):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(4):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(5):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(6):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 240px);
}
li:nth-child(1):nth-last-child(7) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(2):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(3):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(4):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(5):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(6):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(7):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 280px);
}
li:nth-child(1):nth-last-child(8) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(2):nth-last-child(7) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(3):nth-last-child(6) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(4):nth-last-child(5) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(5):nth-last-child(4) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(6):nth-last-child(3) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(7):nth-last-child(2) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}
li:nth-child(8):nth-last-child(1) input[type="radio"]:checked ~ .accslide {
  width: calc(100% - 320px);
}

/* Timeline
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button {
  bottom: 50px;

  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
}

.timeline {

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
   height: 100%;
}

.timeline ol {
  font-size: 0;
  height: 100%;
  padding: 100px 0;
  padding-bottom: 60px;
  transition: all 1s;
  overflow-x: scroll;
  
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 10%;

  height: 3px;
  background: rgba(185, 157, 32, 0.671);
}

.timeline ol li:last-child {
 
  width: 280px;
}

.timeline ol li:not(:first-child) {
  
  margin-left: 70px;
}

.timeline p {
   position: absolute;
   top: 50%;
   left: calc(100% + 18px);
   transform:translateY(-45%) ;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 6px #1f1f1fc7;
  font-size: 1.8rem;
}

.timeline ol li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #690a0a8c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8a2020a4,
    #680b0b94
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8a2020a4,
    #680b0b94
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 3px 3px rgba(31, 31, 31, 0.514);
}

.timeline ol li:hover::before {

  box-shadow: 4px 2px rgba(105, 81, 3, 0.616);

}


.timeline h6 {
  font-size: 0.7rem;
  text-align: left;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  white-space: normal;
}
hr{
  margin: 0;
  padding: 2px;

  width: 100%;
  color: #c5a514;
}
.accslide{
  height: 100vh;
  overflow-y: scroll;
}

 #s1blog1,#s1blog2,#s1blog3, 
#s1blog4,#s1blog5, #s1blog6,
#s1blog7, #s1blog8,#s1blog9, 
#s1blog10, #s1blog11,#s1blog12,
#s2blog1,#s2blog2,#s2blog3, 
#s2blog4,#s2blog5, #s2blog6,
#s2blog7, #s2blog8,#s2blog9, 
#s2blog10, #s2blog11,#s2blog12,
#s3blog1,#s3blog2,#s3blog3, 
#s3blog4,#s3blog5, #s3blog6,
#s3blog7, #s3blog8,#s3blog9, 
#s3blog10, #s3blog11,#s3blog12{
  display: none;
   position: relative;
   padding: 12px;
   margin-left: 5%;
   
   clear: both;
  color: white;
   width: 90%;
  border-radius: 15px;
  background: rgba(15, 15, 15, 0.363);

}

.row{
  padding: 22px;

}

.timeline li:hover  {
  cursor: grab;
}

.timeline ol li:not(:last-child)::before:hover {
  background: #000;
}







/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 500px) {
  body {
    padding-bottom: 40px;
    margin-top: -50px;
  }
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    padding: 0;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    display: flex;
  
    margin: 0 auto;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  .timeline ol li:nth-child(even) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

.footer{
  margin-top: -30px;
  background-color: rgb(19, 19, 19);
  height: 50px;
  z-index: 2;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2525257e;
}

::-webkit-scrollbar
{
  width: 10px;
	
	background-color: #18181893;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(27, 27, 27, 0.623);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(78, 78, 78, 0.397) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(78, 78, 78, 0.397) 50%,
											  rgba(78, 78, 78, 0.397) 75%,
											  transparent 75%,
											  transparent)
}




.timeline ol::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #25252533;
}

.timeline ol::-webkit-scrollbar
{
  width: 10px;
	
	background-color: #18181893;
}

.timeline ol::-webkit-scrollbar-thumb
{
	background-color: rgba(27, 27, 27, 0.623);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(78, 78, 78, 0.397) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(78, 78, 78, 0.397) 50%,
											  rgba(78, 78, 78, 0.397) 75%,
											  transparent 75%,
											  transparent)
}



.post1004
{
  background-image: url('/assets/7.jpg');

}
.post2004{
  background-image: url('/assets/2.jpg');

}
.post3004{
  background-image: url('/assets/5a.jpg');

}

.post4004
{
  background-image: url('/assets/4.jpg');

}
.post5004{
  background-image: url('/assets/3.jpeg');

}
.post6004{
  background-image: url('/assets/6.jpg');

}
.card {
  border-radius: 20px;
  margin: 10px auto;
 border: 0;
  max-width: 100%;
  min-height: 300px;
  
  overflow: hidden;
  background-size: cover;
}
.card:hover{
  box-shadow: 0 0 5px 5px #1d1d1dc0;
}

.info {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgba(7, 7, 7, 0.767);
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {

  display: block;
  position: absolute;
  content: ' ';
  
  overflow: hidden;
  
  background-size: cover;
  opacity: 0.25;

  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(243, 243, 243, 0.87);
}

.card h6 {
  margin: 0;
  color:rgb(253, 253, 253);
  text-align: center;
  font-size: 13px;
}






@media (min-width:800px) {
  h1 {
    font-size: 4.236em;
    font-weight: 300
  }
}

p {
  margin-bottom: 1.3em;
  line-height: 1.618
}

@media (min-width:800px) {
  p {
    font-size: 1.3em
  }
}

a {
  color: #e03616;
  text-decoration: none
}
